<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Contact Us Page</title>
</head>
<body>
<div id="content">
<h1>
    Welcome to Contact page
</h1>
<P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste tempora facere repudiandae placeat sit voluptate? Facere eius quo eligendi ab eos porro enim recusandae harum. Dolores expedita animi doloribus debitis.</P>

</div>
 <script>
    console.log("Contact page");
 </script>
 <script>
    console.log(" Second Contact page");
 </script>
</body>
</html>