<!DOCTYPE html>
<html lang="en" th:replace="~{base ::parent(~{::#content},~{::title},~{::script})}">
<head>
<title>Home Page</title>
</head>
<body>
<div id="content">
<h1>
    Welcome to home page
</h1>
<P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste tempora facere repudiandae placeat sit voluptate? Facere eius quo eligendi ab eos porro enim recusandae harum. Dolores expedita animi doloribus debitis.</P>

</div>
 <script>
    console.log("home page");
 </script>
</body>
</html>




















<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cloudfare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet"/>
     <link rel="stylesheet" data-th-href="@{'/css/output.css'}"/>
   
</head>
<body>
    <div class="bg-grey-200 w-1/2 p-4 flex-col space-y-3 mx-auto mt-4">
        <h1 class="text-2xl font-bold" data-th-text="${name}">
            welcome to home page 
        </h1>
        <p class="text-xl text-gray-700">
            Youtube Channel:<span data-th-text="${youtubeChannel}"></span>
        </p>
        <a th:href="${youtubeChannel}">click here to open</a>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At praesentium commodi labore? Odio, hic debitis at sequi iste ut sed culpa mollitia dolorum perferendis harum quibusdam voluptates soluta sit. Harum?</p>
          <button class="px-3 py-3 rounded bg-blue-700 text-white hover:bg-blue-600">
            click here
          </button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

</body>
</html> -->